@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--chart-1: 160 60% 45%;
		--chart-2: 350 70% 56%;
		--chart-3: 0 8% 65%;
		--chart-4: 37 91% 55%;
		--chart-5: 340 75% 55%;
		--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	}

	.dark {
		--chart-1: 160 60% 45%;
		--chart-2: 350 70% 56%;
		--chart-3: 0 8% 65%;
		--chart-4: 37 91% 55%;
		--chart-5: 340 75% 55%;
	}

	html {
		font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
	}

	body {
		font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
	}
}
